/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';
.Feed {
  background: #f5f5f5;
  color: #333;
}

.Feed-container {
  margin: 0 auto;
  padding: 20px 8px;
  max-width: var(--max-content-width);
  text-align: center;
  font-size: 1.5em;
  /* ~24px */
}

.Feed-link,
.Feed-link:active,
.Feed-link:hover,
.Feed-link:visited {
  color: #333;
  text-decoration: none;
}

.Feed-link:hover {
  text-decoration: underline;
}

.Feed-spacer {
  padding-right: 15px;
  padding-left: 15px;
}

.Repository-container {
  padding: 15px;
  height: 200px;
}

.Repository {
  background-color: #ffffff;
  border: rgba(0, 0, 0, 0.34);
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 5px #888888;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.Repository-top {
  height: calc(100% - 75px);
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  text-align: left;
}

.Repository-bottom {
  background-color: #F3F3F3;
  height: 75px;
  width: 100%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
}

.Repository-description {
  font-size: 0.75em;
}

.Repository-name {
  display: block;
  font-size: 1em;
  text-align: left;
  flex: 7;
  float: left;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 100%;
}

.Repository-link {
  display: block;
  background-color: #00a8ff;
  color: #fff;
  padding: 10px;
  font-size: .75em;
  text-decoration: none;
  box-shadow: 2px 2px 5px#056a9e;
  box-sizing: border-box;
  flex: 3;
  border-radius: 10px;
  line-height: 100%;
}

@media (--screen-xs) {
  .Repository-container {
    width: 100%;
  }
}

@media (--screen-sm) {
  .Repository-container {
    width: 100%;
  }
}

@media (--screen-md) {
  .Repository-container {
    display: inline-block;
    width: 45%;
  }
}

@media (--screen-lg) {
  .Repository-container {
    display: inline-block;
    width: 30%;
  }
}

.Forked:before {
    position: relative;
    content: url('/images/fork20.png');
    top: 2px;
}
