/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';
.ContentPage-container {
    margin: 0 auto;
    padding: 0 15px 40px;
    max-width: var(--max-content-width);
}

.ContentPage > div > h1 {
    text-align: center;
}

h1,
h2,
h3 {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

#bio {
    width: 80%;
    margin: auto;
}

#profilepic {
    overflow: hidden;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    margin: auto;
}

#content {
    margin: auto;
    text-align: center;
}

ul {
    width: 80%;
    list-style-position: inside;
    margin: auto;
    list-style: none;
    padding: 0;
}

.resume li {
    text-align: center;
    border-bottom: solid;
    border-width: 1px;
    padding: 10px;
    -webkit-transition: font-size 0.2s ease, background-color 0.6s ease;
    -moz-transition: font-size 0.2s ease, background-color 0.6s ease;
    -o-transition: font-size 0.2s ease, background-color 0.6s ease;
    -ms-transition: font-size 0.2s ease, background-color 0.6s ease;
    transition: font-size 0.2s ease, background-color 0.6s ease;
}

li:last-child {
    border: none;
}

li:hover {
    background: #E2E2E2;
}

.complete:hover {
    background: rgba(115, 230, 101, 0.67);
}

.taking:hover {
    background: rgba(83, 175, 236, 0.67);
}

hr:after {
    position: absolute;
    width: 12px;
    height: 12px;
    content: "";
    bottom: -5px;
    left: 50%;
    margin-left: -6px;
    background-color: #6699CC;
    border-radius: 6px;
}

hr {
    display: block;
    height: 1px;
    padding: 0;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: 1px solid #612103;
    margin: auto;
    margin-bottom: 50px;
    max-width: 80%;
    position: relative;
}

.linkButton {
    background-color: rgba(87, 197, 237, 0.66);
    color: #000000;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    width: 30%;
    display: block;
    margin: 10px auto;
}

.linkButton:hover {
    background-color: rgba(7, 138, 185, 0.66);
}

@media all and (min-width: 1024px) {
    /* For desktops and larger devices: */
    #profilepic {
        width: 400px;
        height: 400px;
        border-radius: 200px;
    }
    .linkButton {
        margin: 10px 10px;
        display: inline-block;
    }
    #skills li {
        display: inline-block;
        border: none;
        min-width: 5%;
    }
    #skills {
        margin-bottom: 50px;
    }
}

#bio > p {
    font-size: 1.5em;
    line-height: 2em;
}