---
title: About Me
component: ContentPage
---
#bio
  p
    | I grew up in a small town just outside of Boston, MA. I went to highschool with the same kids that I went to kindergarten with. I was an active member of my town's Boy Scout troup and became an Eagle Scout my Junior Year of High School. I was also an
    | active participant in Concert and Jazz band, playing the trumpet and piano. I helped start a FIRST Robotics team at my school during my Senior year of highscool. After graduation I began my freshman year at Tufts to pursue a degree in
    | Computer Science. During my Freshman year I was the member of Ultimate Frisbee team and I took a number of computer science classes including, Machine Structure and Assembly Language Programming and Data Structures.