---
title: Derek Benson
component: ContentPage
---
#index
  h1 Welcome!
  h3 This website is written with React.js and Node.js.
  p.
    It is an isomorphic React application that minimizes traffic between server
    and client. Currently I am just using it as a test bed for React.
    
  p Feel free to look around!
