---
title: My Resume
component: ContentPage
---
#content.resume
  h2 Education
  hr
  ul
    li Cohasset High School Class of 2014
    li Tufts University Class of 2018: Computer Science Major
  h2 Coursework
  hr
  h3 Completed
  ul
    li.complete AP Computer Science in Java
    li.complete Comp 15 - Data Structures
    li.complete Math 34 - Calc II
    li.complete Comp 40 - Machine Structure
  h3 Currently Taking
  ul
    li.taking Comp 86 - Object Oriented Programming
    li.taking Comp 20 - Intro to Web Development
    li.taking Comp 61 - Discrete Mathematics
  h2 Jobs
  hr
  ul
    li
      p
        | My first job was after Sophomore year of High School when I became a lifeguard at the local pool. I held this job for two summers.
    li
      p
        | After Junior Year I started working with the CTO of my Town to upgrade the technology in the School District while also serving as a lifeguard.
    li
      p
        | I continued my employment under the CTO through the summer after Senior Year of High School and into the summer after my Freshman Year at Tufts
    li
      p
        | My most recent job was an internship at Rocket Software in Waltham, MA where I built a REST backend for a mobile application using Node.js, MongoDB, and a Tomcat servlet. I also had the opportunity to write frontend code for the application in HTML, CSS,
        | and Javascript/Coffeescript.
  h2 Skills
  hr
  ul#skills
    li Java
    li C++
    li C
    li Python
    li Git
    li HTML
    li CSS
    li Javascript
    li Coffeescript
    li Go